body{
     padding:0px;
     margin: 0px;
     background-image: url("image/kings3.jpg");
     background-repeat: no-repeat;
     background-size: cover;
}

.menu ul li a{
    padding: 8px;
    color:yellow;
    font-size: 30px;
    text-decoration: none;
    border-bottom: 2px solid#fff;
    border-radius:20px;
    position: relative;
}

.search{
    top: 24px;
    right:20px;
    position: absolute;
    border: 2px solid yellow;
 
 }
 
 .search input {
     font-size: 25px;
     border: 1px solid #fff;
     margin:8px;
     padding: 8px;
     border-radius: 10px;
     font-style: normal;
     text-transform: uppercase;
}

.btn{
    text-decoration: none;
    font-size: 25px;
    border: 2px solid yellow;
}